.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.btn {
    border: 1px solid #999999;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    font-family: Poppins-Medium;
    font-size: 14px;
    color: #999999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.photo-picker {
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-display {
    border: 1px solid #999999;
    background-color: white;
    border-radius: 8px;
    width: 110px;
}

.photo-label {
    margin-top: 12px;
    font-family: Poppins-Medium;
    font-size: 10px;
    color: #999999;
}