@model Legend.Identity.Models.RequestResetPasswordViewModel
@{
    ViewData["Title"] = "RequestResetPasswordView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/login/fonts/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/login/fonts/iconic/css/material-design-iconic-font.css">
    <link rel="stylesheet" type="text/css" href="~/login/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/register/main.css">
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-b-20">
            <form class="login100-form validate-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="wrap-input100 validate-input m-t-35 m-b-35" data-validate="Enter Email">
                    <input id="email" class="input100" type="text" name="Email" asp-for="Email" />
                    <span class="focus-input100" data-placeholder="Email"></span>
                </div>
                <div class="container-login100-form-btn">
                    <button id="btn-reset" class="login100-form-btn" type="button">
                        RESET PASSWORD
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/login/js/main.js"></script>
    <script src="~/reset/main.js"></script>
}




