@model Legend.Admin.Models.CreateUserViewModel

@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
}

@using (@Html.BeginForm("AddUser", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-8">
            <form asp-action="AddUser">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ParkSeq" class="control-label"></label>
                    <input asp-for="ParkSeq" class="form-control" />
                    <span asp-validation-for="ParkSeq" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Role" class="control-label"></label>
                    @Html.DropDownListFor(m => m.Role, new SelectList(Model.RoleList, "Value", "Text", Model.Role), "-- Please select role-- ", new { @class = "selectpicker form-control", required = "true" })
                <span asp-validation-for="Role" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedOperations" class="control-label"></label>
                    @Html.ListBoxFor(m => m.SelectedOperations, new MultiSelectList(Model.OperationList, "Value", "Text", Model.SelectedOperations), new { @class = "selectpicker form-control", @multitple = "multitple", @data_live_search = true, required = "true" })
                <span asp-validation-for="SelectedOperations" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create User" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}
<div>
    <a class="btn-link-back" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
}
