@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Forgot Password</h1>

@using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-8">
            <form asp-action="ForgotPassword">
                <div class="form-group">
                    <label class="control-label" for="email">Email</label>
                    <input type="text" class="form-control" value="" id="email" name="email" data-val-required="The Email field is required." />
                    <span class="text-danger field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn-primary">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
}

